---
title: 'Join Our Team - Landmark Property Services, Inc.'
description: 'Come work for Landmark Proeprty Services, Inc. headquartered in Richmond, VA.  Jobs include those in property management, marketing and maintenance.'
keywords: 'careers, jobs, EOE, richmond'
---
<div class="breadcrumbs-v3" style="background: url(/assets/img/breadcrumbs/img3.jpg) no-repeat; background-size: cover; background-position: center center;">
    <div class='container'>
        <div class="text-center">
            <h1>Careers</h1>
        </div>
    </div>
</div>

<div id="filters-container" class="cbp-l-filters-text content-xs" style="background: #f9f9f9; margin-bottom: 0px; padding-top: 10px">
    <% data.available_positions.jobs.each_with_index do |job, index| %>
        <div class="cbp-filter-item-active cbp-filter-item"><a href="#<%= index %>"> <%= job.title %> (<%= job.location %>) </a></div>
        <% if data.available_positions.jobs.count > index + 1 %>
          |
        <% end %>
    <% end %>
</div><!--/end Filters Container-->

<% data.available_positions.jobs.each_with_index do |job, index| %>
    <div class="job-description" id="<%= index %>">
      <div class="container content">
          <!-- Left Inner -->
          <div class="left-inner">
              <h2><%= job.title %></h2>
              <div class="overflow-h">
                  <p class="hex"><%= job.location %></p>
                  <p class="hex"><em>Posting Date - </em> <%= job.posting_date %></p>

              </div>

              <hr>

              <h3>Job Description</h3>
              <% job.description.each do |desc| %>
                  <p><%= desc %>
              <% end %>

              <hr>

              <h3>Required Skills</h3>
              <ul class="list-unstyled">
                  <% job.requirements.each do |skill| %>
                      <li><i class="color-green fa fa-check"></i> <%= skill %></li>
                  <% end %>
              </ul>

              <hr>

              <h3>About Us</h3>
              <p>Managing more than 5,400 apartment homes, 3,500 condominium and HOA units and other commercial properties throughout the Mid-Atlantic, Landmark offers a wealth of experience and a proven track-record of results.</p>
              <p>Our company was founded on the principle that every property requires personal attention and customizable strategies in order to remain competitive in today’s dynamic marketplace. Landmark is committed to providing the tools, resources and knowledge-base of much larger firms while maintaining the personal attention you’d expect from a small business. We utilize new technologies and detailed analytics that streamline our management practices. This allows us to spend more time in the field, maintain a fresh and impactful presence in the market and better optimize our property budgets.</p>
              <p>The principals at the helm of Landmark have over 60 years of combined experience in all aspects of property management. Our principals serve as industry leaders holding executive positions in the Central Virginia Apartment Association (CVAA), the Hampton Roads Apartment Association (HRAC), the Virginia Apartment Management Association (VAMA), the National Apartment Association (NAA) and the Institute of Real Estate Management (IREM).</p>
              <p>We hold ourselves accountable for your property’s success, using the most accurate and complete analytics to assess your property’s performance on a daily basis. We search for innovators in our industry, utilizing partnerships with other industry leaders and leading-edge technology to give our properties pricing power while maximizing budgetary resources. We invest in the education of our employees, because we understand that human resources are our biggest asset.</p>
              <p>Let Landmark show you the power of personalized attention. Your property is different. You deserve a different kind of management company.</p>

              <hr>

              <p><em>Landmark Property Services is an Equal Opportunity Employer and drug-free workplace.</em></p>
          </div>
          <!-- End Left Inner -->
      </div>
    </div>
<% end %>

